<todo-todo-form></todo-todo-form>
<todo-chart></todo-chart>
<div class="panel-header">
  <todo-todo-list class="todos" [filterTask]="false"></todo-todo-list>
  <todo-todo-list class="dones" [filterTask]="true"></todo-todo-list>
</div>

