.navbar {
  transition: all 0.4s;
}


.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}



.navbar.active .navbar-brand {
  color: #555;
}



  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }

