<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top py-3 active">
    <div class="container">
      <h2 class="nav-link text-uppercase font-weight-bold">My Todo List </h2>
    </div>
  </nav>
</header>
