
  <header class="header">
    <h1>Todos</h1>
  </header>
<form  >
  <input name="desc" class="new-todo" placeholder="Write a new task and press enter" autofocus="" [(ngModel)]="desc" (keyup.enter)="saveTask()">
</form>

