<ng-container *ngIf= "filterTask===false; else delete" >
  <button (click)="moveToDoneList()"> Mark as done</button>
</ng-container>
<ng-template #delete>
  <button (click)="deleteFromList()"> Delete </button>
</ng-template>

<ag-grid-angular
#agGrid
    style="width: 600px; height:300px;"
    class="ag-theme-alpine"
    [rowData]="rowData$"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    (cellEditingStopped)="cellEditingStopped($event)"
>
</ag-grid-angular>
