:host > main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
:host > main > article {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  :host > main {
    flex-direction: row;
  }
}
